src/solution/node_red/node-red/flows.json
[{"id":"ff7becea.8a11","type":"tab","label":"Data Collection","disabled":false,"info":""},{"id":"6cc22e9d.1bcb7","type":"tab","label":"KPI-Calc-Dummy","disabled":false,"info":""},{"id":"55039619.2aaad","type":"tab","label":"KPI Estimation","disabled":false,"info":""},{"id":"ea44f983.4adc8","type":"tab","label":"CSV Export SINGLE","disabled":false,"info":""},{"id":"b6ec4c8d.61eac","type":"mqtt-broker","z":"","name":"","broker":"mqtt-broker","port":"1883","clientid":"nodered-client","usetls":false,"compatmode":true,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","closeTopic":"","closeQos":"0","closePayload":"","willTopic":"","willQos":"0","willPayload":""},{"id":"4ad3ce8d.582c5","type":"influxdb","z":"","hostname":"influxdb","port":"8086","protocol":"http","database":"edgedb","name":"","usetls":false,"tls":""},{"id":"bfe4e815.b544a","type":"OpcUa-Endpoint","z":"","endpoint":"opc.tcp://opc-server:4841","secpol":"Basic256","secmode":"SIGN","login":true},{"id":"bf61343e.6896e","type":"influxdb","z":"","hostname":"172.17.0.3","port":"8086","protocol":"http","database":"Acq","name":"","usetls":false,"tls":""},{"id":"520acb5d.2fc754","type":"mqtt-broker","z":"","name":"Mosqiuto","broker":"172.20.0.8","port":"1883","clientid":"","usetls":false,"compatmode":true,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","closeTopic":"","closeQos":"0","closePayload":"","willTopic":"","willQos":"0","willPayload":""},{"id":"b20126b5.cd4d98","type":"influxdb","z":"","hostname":"172.17.0.3","port":"8086","protocol":"http","database":"acq","name":"","usetls":false,"tls":""},{"id":"1033e65b.c34c7a","type":"influxdb","z":"","hostname":"172.17.0.3","port":"8086","protocol":"http","database":"acq","name":"","usetls":false,"tls":""},{"id":"a1739b94.b791a","type":"influxdb","z":"","hostname":"influx","port":"8086","protocol":"http","database":"Acq","name":"","usetls":false,"tls":""},{"id":"1b18f9c7.36eaa6","type":"influxdb","z":"","hostname":"172.17.0.3","port":"8086","protocol":"http","database":"Acq","name":"","usetls":false,"tls":""},{"id":"6b1ccc24.58b78c","type":"mqtt-broker","z":"","name":"Mosqiuto","broker":"172.20.0.8","port":"1883","clientid":"","usetls":false,"compatmode":true,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","closeTopic":"","closeQos":"0","closePayload":"","willTopic":"","willQos":"0","willPayload":""},{"id":"b58c5579.e8ca9","type":"influxdb","z":"","hostname":"172.17.0.3","port":"8086","protocol":"http","database":"acq","name":"","usetls":false,"tls":""},{"id":"595cb22b.a38a4c","type":"influxdb","z":"","hostname":"172.17.0.3","port":"8086","protocol":"http","database":"acq","name":"","usetls":false,"tls":""},{"id":"c6c8a0f8.e93ed8","type":"influxdb","z":"","hostname":"172.17.0.3","port":"8086","protocol":"http","database":"Acq","name":"","usetls":false,"tls":""},{"id":"942bf469.3ccc68","type":"mqtt-broker","z":"","name":"Mosqiuto","broker":"172.20.0.8","port":"1883","clientid":"","usetls":false,"compatmode":true,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","closeTopic":"","closeQos":"0","closePayload":"","willTopic":"","willQos":"0","willPayload":""},{"id":"47bb686a.34cec8","type":"influxdb","z":"","hostname":"172.17.0.3","port":"8086","protocol":"http","database":"acq","name":"","usetls":false,"tls":""},{"id":"f097c695.91eca","type":"influxdb","z":"","hostname":"172.17.0.3","port":"8086","protocol":"http","database":"acq","name":"","usetls":false,"tls":""},{"id":"759b2bda.123094","type":"influxdb","z":"","hostname":"influx","port":"8086","protocol":"http","database":"Acq","name":"","usetls":false,"tls":""},{"id":"5bb969a0.b96428","type":"OpcUa-Endpoint","z":"","endpoint":"opc.tcp://172.17.0.1:4841","secpol":"Basic256","secmode":"SIGNANDENCRYPT","login":true},{"id":"95300d7d.e193e8","type":"influxdb","z":"","hostname":"172.17.0.3","port":"8086","protocol":"http","database":"Acq","name":"","usetls":false,"tls":""},{"id":"8aa2256b.b9b848","type":"mqtt-broker","z":"","name":"Mosqiuto","broker":"172.20.0.8","port":"1883","clientid":"","usetls":false,"compatmode":true,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","closeTopic":"","closeQos":"0","closePayload":"","willTopic":"","willQos":"0","willPayload":""},{"id":"3490c91a.7dcf46","type":"influxdb","z":"","hostname":"172.17.0.3","port":"8086","protocol":"http","database":"acq","name":"","usetls":false,"tls":""},{"id":"647d1416.81c4f4","type":"influxdb","z":"","hostname":"172.17.0.3","port":"8086","protocol":"http","database":"acq","name":"","usetls":false,"tls":""},{"id":"be08dd3d.4a2ba","type":"OpcUa-Endpoint","z":"","endpoint":"opc.tcp://ServiceName:Port","secpol":"None","secmode":"NONE","login":false},{"id":"df221966.2a378","type":"influxdb in","z":"ea44f983.4adc8","influxdb":"4ad3ce8d.582c5","name":"Inluxdb - query","query":"","rawOutput":false,"precision":"","retentionPolicy":"","x":840,"y":440,"wires":[["fce76984.9ebbf"]]},{"id":"a5bed554.fe89a8","type":"function","z":"ea44f983.4adc8","name":"Get Msrmnts","func":"msg.query=\"show measurements\";\nreturn msg; \n","outputs":1,"noerr":0,"x":510,"y":340,"wires":[["81d4c288.1e6538","89659db.7ff436"]]},{"id":"81d4c288.1e6538","type":"influxdb in","z":"ea44f983.4adc8","influxdb":"4ad3ce8d.582c5","name":"measurements","query":"","rawOutput":false,"precision":"","retentionPolicy":"","x":700,"y":340,"wires":[["2757e55c.09dbc2"]]},{"id":"2757e55c.09dbc2","type":"function","z":"ea44f983.4adc8","name":"query","func":"var zip = msg.api.zip.toLowerCase()\n\n/*\nif (msg.api.zip == null)\n{\n    zip = \"false\"; // Get the zip info from API\n}\nelse\n{\n    zip = msg.api.zip;\n}\n*/\nvar filename = msg.api.path+\"Report at \"+msg.api.timestamp;\n//var measurements = msg.payload\nvar substr_time_start = \"\"\nvar substr_time_end = \"\"\nvar substr_timerange = \"\"\nvar base_query = \"select * from \"\nvar substr_meas = \"\"\nvar substr_name = \"\"\nvar substr_asset = \"\"\nmultipleQuery = []\n\nmsg3 = new Object()\n\n//get all measurements\nfor (var i = 0 ; i < msg.payload.length;  i++){\n    if(i == msg.payload.length-1){\n        substr_meas =  substr_meas+msg.payload[i].name \n    }\n    else{\n        substr_meas = substr_meas+msg.payload[i].name+\",\"\n    }\n    \n}\n\n// all measurements with time\nbase_query = base_query + substr_meas\n\nif (msg.api.timerange.start.length > 0 && msg.api.timerange.end.length > 0){\n    substr_time_start = msg.api.timerange.start\n    substr_time_end= msg.api.timerange.end\n    substr_timerange = \" where time >= '\"+substr_time_start+\"' and time <= '\"+substr_time_end+\"'\"\n    base_query = base_query + substr_timerange\n    timeflag = true\n}\nelse\n{\n    timeflag = false\n}\n\n// multiple queries return multiple objects\nif (msg.api.variables.length > 0){\n    for(var i=0; i < msg.api.variables.length; i++){\n        forloop_query = \"\"\n        singleQuery = new Object()\n        substr_asset = \"\"\n        substr_name = \"\"\n\n        \n        // measurement and name \n        if (msg.api.variables[i].measurement && msg.api.variables[i].name){\n            substr_asset = \"select * from \"+msg.api.variables[i].measurement\n            if (timeflag)\n            {\n                substr_name = ' and \"name\"='+\"'\"+msg.api.variables[i].name+\"'\"\n            }\n            else\n            {\n                substr_name = ' where \"name\"='+\"'\"+msg.api.variables[i].name+\"'\"\n            }\n            singleQuery.if1 = true\n            forloop_query = substr_asset+substr_timerange+substr_name\n                            \n        }\n        \n        // measurement and no name \n        else if(msg.api.variables[i].measurement && (msg.api.variables[i].name==\"\" || msg.api.variables[i].name==null)){\n            substr_asset = \"select * from \"+msg.api.variables[i].measurement\n            //substr_name = ' and \"name\"='+\"'\"+msg.api.variables[i].name+\"'\"\n            singleQuery.if2 = true\n            forloop_query = substr_asset+substr_timerange\n        }\n        \n        // no measurement and name \n        else if((msg.api.variables[i].measurement==\"\"|| msg.api.variables[i].measurement==null) && msg.api.variables[i].name ){\n            if (timeflag)\n            {\n                substr_name = ' and \"name\"='+\"'\"+msg.api.variables[i].name+\"'\"\n            }\n            else\n            {\n                substr_name = ' where \"name\"='+\"'\"+msg.api.variables[i].name+\"'\"\n            }\n            \n            singleQuery.if3 = true\n            forloop_query = base_query + substr_name\n            \n        }\n        singleQuery.query = forloop_query\n        singleQuery.filename = filename +\".csv\"\n        singleQuery.zip = zip\n        multipleQuery.push(singleQuery)\n    } \n    \n    return [multipleQuery]\n}\n\n// return from single query - single object\nmsg3.filename = filename+\" all measurements.csv\"\nmsg3.zip = zip;\nmsg3.query = base_query\nreturn msg3\n\n\n/*\narr = msg.payload\nvar flag = 0\nvar outputMsgs = []\nfor(var i = 0 ;  i < arr.length ; i++){\n    genmsg = new Object()\n    \n    if (arr[i].name == null && arr[i].time == null){\n        flag = 0 //keine Zeit und kein Name \n    }\n    else if (arr[i].name != null && arr[i].time == null){\n        flag = 1 //keine Zeit und Name\n    }\n    else if (arr[i].name == null && arr[i].time != null){\n        flag = 2 // Zeit und kein Name\n    }\n    else if (arr[i].name != null && arr[i].time != null){\n        flag = 3 //Zeit und Name\n    }\n    \n    switch (flag){\n        case 0: //keine Zeit und kein Name \n            var query = \"select * from \"+arr[i].measurement\n            break;\n            \n        case 1: //keine Zeit und Name\n            var tag ='\"name\"'\n            var query = \"select * from \"+arr[i].measurement+\" where \"+tag+\"='\"+arr[i].name+\"'\"\n            break;\n            \n        case 2: // Zeit und kein Name\n            var start = arr[i].time.start\n            var end = arr[i].time.end\n            var query = \"select * from \"+arr[i].measurement+\" where time >= \"+start+\" and time <= \"+end\n            break;\n            \n        case 3: //Zeit und Name\n            break;\n        \n    }\n    \nvar name = '\"name\"'\n\nvar query = \"SELECT * FROM RotatingMachine2 where time >= '2018-08-24T13:34:27.07695954Z' and time <= '2018-08-24T13:34:52.538Z' and \"+name+\"='powerdrive2'\"\n\n    \n    if (arr[i].name != null){\n        \n        var tag ='\"name\"'\n        var query = \"select * from \"+arr[i].measurement+\" where \"+tag+\"='\"+arr[i].name+\"'\"\n    }\n    else {\n        var query = \"select * from \"+arr[i].measurement\n    }\n    genmsg.query = query\n    outputMsgs.push(genmsg)\n    \n}\n\n\nreturn [outputMsgs]; \n    select * from KPI_PowerDrive1,KPI_RotatingMachine2,MillingMachine1,MillingMachine2,RotatingMachine1,RotatingMachine2 where time >= '2018-08-20T13:34:51.409Z' and time <= '2018-08-22T14:58:56.419Z' and \"name\"='currentdrive1'\n*/","outputs":1,"noerr":0,"x":850,"y":340,"wires":[["df221966.2a378","edb6c8fc.ff2bc"]]},{"id":"f0a6e2a8.0a15c8","type":"file","z":"ea44f983.4adc8","name":"csv unzipped","filename":"","appendNewline":true,"createDir":false,"overwriteFile":"false","x":1430,"y":500,"wires":[[]]},{"id":"fce76984.9ebbf","type":"json-2-csv","z":"ea44f983.4adc8","name":"JSON2CSV","x":1030,"y":440,"wires":[["34de83ed.038704"]]},{"id":"a142b97d.8cb218","type":"comment","z":"ea44f983.4adc8","name":"CSV Export aus der Influxdb","info":"","x":950,"y":400,"wires":[]},{"id":"61d5fe30.16937","type":"http in","z":"ea44f983.4adc8","name":"One Time Export","url":"/api/export/now","method":"get","upload":false,"swaggerDoc":"","x":110,"y":340,"wires":[["123db6b.503aac9","877aa48e.79b98"]]},{"id":"123db6b.503aac9","type":"function","z":"ea44f983.4adc8","name":"Forward data","func":"var data = {};\n\ndata.api = msg.req.body;\n\nreturn data;","outputs":1,"noerr":0,"x":320,"y":340,"wires":[["a5bed554.fe89a8"]]},{"id":"877aa48e.79b98","type":"template","z":"ea44f983.4adc8","name":"page","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"<html>\n    <head></head>\n    <body>\n        <h1>Request info</h1>\n        <ul>\n            {{#req.body.variables}}\n            <li>Method: {{req.headers.host}}, Method: {{req.method}}, Timestamp: {{req.body.timestamp}}, Zip statement: {{req.body.zip}} </li>\n            {{/req.body.variables}}\n        </ul>\n    </body>\n</html>","x":310,"y":260,"wires":[["c4a0a7ac.b2e22"]]},{"id":"c4a0a7ac.b2e22","type":"http response","z":"ea44f983.4adc8","name":"","statusCode":"","headers":{},"x":490,"y":260,"wires":[]},{"id":"edb9fcdf.b35b88","type":"file","z":"ea44f983.4adc8","name":"csv zipped","filename":"","appendNewline":true,"createDir":false,"overwriteFile":"false","x":1890,"y":380,"wires":[[]]},{"id":"34de83ed.038704","type":"switch","z":"ea44f983.4adc8","name":"selector","property":"zip","propertyType":"msg","rules":[{"t":"eq","v":"true","vt":"str"},{"t":"eq","v":"false","vt":"str"},{"t":"null"},{"t":"else"}],"checkall":"true","repair":false,"outputs":4,"x":1200,"y":440,"wires":[["ad5a7a6f.e03ea8"],["f0a6e2a8.0a15c8"],["f0a6e2a8.0a15c8"],["f0a6e2a8.0a15c8"]]},{"id":"33da4ecc.e131e2","type":"comment","z":"ea44f983.4adc8","name":"SINGLE INSTANT EXPORT","info":"","x":120,"y":200,"wires":[]},{"id":"785f0276.2e1974","type":"function","z":"ea44f983.4adc8","name":"filename","func":"msg.filename = msg.myfile\nvar newfilename = msg.filename.slice(0,-4);\n\nmsg.filename = newfilename + \".zip\"\nreturn msg; \n","outputs":1,"noerr":0,"x":1720,"y":380,"wires":[["edb9fcdf.b35b88"]]},{"id":"ad5a7a6f.e03ea8","type":"function","z":"ea44f983.4adc8","name":"filename","func":"msg.myfile = msg.filename\nmsg.filename = msg.query + \".csv\"\n\nreturn msg; \n","outputs":1,"noerr":0,"x":1420,"y":380,"wires":[["99483054.77dc58"]]},{"id":"edb6c8fc.ff2bc","type":"debug","z":"ea44f983.4adc8","name":"query","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":951,"y":301,"wires":[]},{"id":"89659db.7ff436","type":"debug","z":"ea44f983.4adc8","name":"startend","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","x":653,"y":300,"wires":[]},{"id":"99483054.77dc58","type":"zip","z":"ea44f983.4adc8","name":"","mode":"compress","filename":"","outasstring":false,"x":1570,"y":380,"wires":[["785f0276.2e1974"]]},{"id":"56d9bfef.4191b","type":"link in","z":"ea44f983.4adc8","name":"input single","links":["5d950bc7.c783e4"],"x":375,"y":400,"wires":[["a5bed554.fe89a8"]]},{"id":"93100875.25c04","type":"inject","z":"ff7becea.8a11","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":110,"y":660,"wires":[["b0e72fa1.68ff5","4422fe3d.a1617","fd903367.8a1768"]]},{"id":"b0e72fa1.68ff5","type":"function","z":"ff7becea.8a11","name":"Write_KPI_PowerDrive1_Influxdb","func":"if (msg!==null)\n{\nmean = msg.payload;\n    Beta = [{\n//values between 750 and 999 Watt\n        measurement: \"GEN_PowerDrive1\",\n        fields:{\n            name: \"Drive1\",\n            value:(Math.random() * (999.0 - 750.0 + 1) + 750.0),\n            qualitycode: false\n            //weitereTags: -100 //(optional) nur 4 Datatypes sind in der Influxdb akzeptiert: Int,Float,String, Bool\n        },\n        timestamp: new Date()\n    }]\n//    Arr.push(Beta);\n//}\n\nmsg.payload = Beta;\n}\nreturn msg;","outputs":1,"noerr":0,"x":440,"y":600,"wires":[["24afdd3a.6d2ea2","b8b29845.dfa4e","3e5dc939.97a5b6"]]},{"id":"24afdd3a.6d2ea2","type":"debug","z":"ff7becea.8a11","name":"KPI-Result_PowerDrive1","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","x":750,"y":600,"wires":[]},{"id":"4422fe3d.a1617","type":"function","z":"ff7becea.8a11","name":"Write_KPI_PowerDrive2_Influxdb","func":"if (msg!==null)\n{\nmean = msg.payload;\n    Beta = [{\n//values between 800 and 999 Watt\n        measurement: \"GEN_PowerDrive2\",\n        fields:{\n            name: \"Drive2\",\n            value:(Math.random() * (999.0 - 800.0 + 1) + 800.0),\n            qualitycode: false\n            //weitereTags: -100 //(optional) nur 4 Datatypes sind in der Influxdb akzeptiert: Int,Float,String, Bool\n        },\n        timestamp: new Date()\n    }]\n//    Arr.push(Beta);\n//}\n\nmsg.payload = Beta;\n}\nreturn msg;","outputs":1,"noerr":0,"x":440,"y":660,"wires":[["b8b29845.dfa4e","3e5dc939.97a5b6"]]},{"id":"fd903367.8a1768","type":"function","z":"ff7becea.8a11","name":"Write_KPI_PowerDrive3_Influxdb","func":"if (msg!==null)\n{\nmean = msg.payload;\n    Beta = [{\n        //values between 800 and 999 Watt\n        measurement: \"GEN_PowerDrive3\",\n        fields:{\n            name: \"Drive3\",\n            value:(Math.random() * (999.0 - 800.0 + 1) + 800.0),\n            qualitycode: false\n            //weitereTags: -100 //(optional) nur 4 Datatypes sind in der Influxdb akzeptiert: Int,Float,String, Bool\n        },\n        timestamp: new Date()\n    }]\n//    Arr.push(Beta);\n//}\n\nmsg.payload = Beta;\n}\nreturn msg;","outputs":1,"noerr":0,"x":440,"y":720,"wires":[["98aad96c.200b18","b8b29845.dfa4e","3e5dc939.97a5b6"]]},{"id":"98aad96c.200b18","type":"debug","z":"ff7becea.8a11","name":"KPI-Result_PowerDrive3","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","x":750,"y":720,"wires":[]},{"id":"d3fb3163.6b3938","type":"comment","z":"6cc22e9d.1bcb7","name":"Calculate Total Power Consumption","info":"","x":800,"y":60,"wires":[]},{"id":"62d7f7a5.87b898","type":"function","z":"6cc22e9d.1bcb7","name":"Query-List","func":"var a ='\"name\"'\nmsg.query=\"select * from GEN_PowerDrive1 where \"+a+\"='Drive1'\"\nreturn msg; \n/*\nCLI-Funktionen f?r die Influxdb (Auszug)\n\"select * from data1\"\n//Zeigt alle Daten im measuurement an\nSELECT * FROM data where time > '2018-08-09T08:20:39.96Z' and time <= now()\n//Anzeige der measuremebts in einem bestimmten Zeitraum\nselect * from data where value > 80 and value < 85 \n//Filterung der Daten nach Value \n*/","outputs":1,"noerr":0,"x":270,"y":160,"wires":[["152d467a.5a632a"]]},{"id":"75835f6a.9e615","type":"function","z":"6cc22e9d.1bcb7","name":"Query-List","func":"var a ='\"name\"'\nmsg.query=\"select * from GEN_PowerDrive2 where \"+a+\"='Drive2'\"\nreturn msg; \n\n\n/*\nCLI-Funktionen f?r die Influxdb (Auszug)\n\"select * from data1\"\n//Zeigt alle Daten im measuurement an\nSELECT * FROM data where time > '2018-08-09T08:20:39.96Z' and time <= now()\n//Anzeige der measuremebts in einem bestimmten Zeitraum\nselect * from data where value > 80 and value < 85 \n//Filterung der Daten nach Value \n*/\n","outputs":1,"noerr":0,"x":270,"y":220,"wires":[["506ea734.47c638"]]},{"id":"506ea734.47c638","type":"influxdb in","z":"6cc22e9d.1bcb7","influxdb":"4ad3ce8d.582c5","name":"influxdb_query_power2","query":"","rawOutput":false,"precision":"","retentionPolicy":"","x":490,"y":220,"wires":[["a6684ffb.97837"]]},{"id":"8549fb1b.4e3af8","type":"function","z":"6cc22e9d.1bcb7","name":"Query-List","func":"var a ='\"name\"'\nmsg.query=\"select * from GEN_PowerDrive3 where \"+a+\"='Drive3'\"\nreturn msg; \n/*\nCLI-Funktionen f?r die Influxdb (Auszug)\n\"select * from data1\"\n//Zeigt alle Daten im measuurement an\nSELECT * FROM data where time > '2018-08-09T08:20:39.96Z' and time <= now()\n//Anzeige der measuremebts in einem bestimmten Zeitraum\nselect * from data where value > 80 and value < 85 \n//Filterung der Daten nach Value \n*/\n","outputs":1,"noerr":0,"x":270,"y":280,"wires":[["9cb69f47.c02a18"]]},{"id":"9cb69f47.c02a18","type":"influxdb in","z":"6cc22e9d.1bcb7","influxdb":"4ad3ce8d.582c5","name":"influxdb_query_power3","query":"","rawOutput":false,"precision":"","retentionPolicy":"","x":490,"y":280,"wires":[["a6684ffb.97837"]]},{"id":"a6684ffb.97837","type":"function","z":"6cc22e9d.1bcb7","name":"collect_last_power_values","func":"context.data = context.data || new Object();\n\nswitch (msg.payload[msg.payload.length-1].name) \n{\n    case \"Drive1\":\n        context.data.power1 = msg.payload[msg.payload.length-1].value;\n        msg = null;\n        break;\n    case \"Drive2\":\n        context.data.power2= msg.payload[msg.payload.length-1].value;\n        msg = null;\n        break;\n    case \"Drive3\":\n        context.data.power3 = msg.payload[msg.payload.length-1].value;\n        msg = null;\n        break;\n    default:\n        msg = null;\n    \tbreak;\n}\n\nif(context.data.power1 != null && context.data.power2 != null && context.data.power3 != null) {\n\tmsg2 = new Object();\n    msg2 = context.data;\n\n    context.data=null;\n\treturn msg2;\n} \nelse\n{\n    \n    return msg;    \n}\n","outputs":1,"noerr":0,"x":770,"y":220,"wires":[["97d3086b.3ce1d","b8f036db.3977e8"]]},{"id":"b83a5b72.2fb118","type":"function","z":"6cc22e9d.1bcb7","name":"join_and_write_power_Influxdb","func":"total = msg.payload;\n\n\n    Beta = [{\n        measurement: \"GEN_KPI_TotalPower\",\n        fields:{\n            name: \"TotalPower\",\n            value:total,\n            //weitereTags: -100 //(optional) nur 4 Datatypes sind in der Influxdb akzeptiert: Int,Float,String, Bool\n        },\n        timestamp: new Date()\n    }]\n//    Arr.push(Beta);\n//}\n\nmsg.payload = Beta;\nreturn msg;","outputs":1,"noerr":0,"x":1270,"y":220,"wires":[["889eb4eb.5236d8","14ee369e.8e4d49"]]},{"id":"14ee369e.8e4d49","type":"influxdb batch","z":"6cc22e9d.1bcb7","influxdb":"4ad3ce8d.582c5","precision":"","retentionPolicy":"","name":"influxdb_write","x":1520,"y":180,"wires":[]},{"id":"152d467a.5a632a","type":"influxdb in","z":"6cc22e9d.1bcb7","influxdb":"4ad3ce8d.582c5","name":"influxdb_query_power1","query":"","rawOutput":false,"precision":"","retentionPolicy":"","x":490,"y":160,"wires":[["a6684ffb.97837"]]},{"id":"22e494c3.76948c","type":"comment","z":"ff7becea.8a11","name":"### Generate dummy dat (based on the OPC UA value range) and storage in influxdb ###","info":"","x":370,"y":500,"wires":[]},{"id":"b8b29845.dfa4e","type":"influxdb batch","z":"ff7becea.8a11","influxdb":"4ad3ce8d.582c5","precision":"","retentionPolicy":"","name":"write_dummy_data_influxdb","x":760,"y":660,"wires":[]},{"id":"3e5dc939.97a5b6","type":"link out","z":"ff7becea.8a11","name":"data_gen","links":["b5e80567.50b7f8"],"x":975,"y":660,"wires":[]},{"id":"b5e80567.50b7f8","type":"link in","z":"6cc22e9d.1bcb7","name":"","links":["3e5dc939.97a5b6"],"x":135,"y":220,"wires":[["62d7f7a5.87b898","75835f6a.9e615","8549fb1b.4e3af8"]]},{"id":"97d3086b.3ce1d","type":"function","z":"6cc22e9d.1bcb7","name":"sum_total_power","func":"var arr = [];\nvar mean=0;\nvar sum=0;\n\narr = Object.keys(msg).map(function(key) {\n    return msg[key]\n    })\narr.splice(-1,1)\n\nfor(var i=0; i < arr.length ; i++){\n      sum = sum + arr[i];\n}\n// mean = sum / arr.length; \n\nmsg2 = new Object();\n//msg2.payload = (arr[0] + arr[1] + arr[2]) / arr.length; \n\nmsg2.payload = sum;\nreturn msg2;","outputs":1,"noerr":0,"x":1010,"y":220,"wires":[["b83a5b72.2fb118"]]},{"id":"889eb4eb.5236d8","type":"debug","z":"6cc22e9d.1bcb7","name":"KPI-Power","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":1510,"y":260,"wires":[]},{"id":"b8f036db.3977e8","type":"debug","z":"6cc22e9d.1bcb7","name":"Last Power Values","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":1010,"y":160,"wires":[]},{"id":"a5fa96f5.6d94b8","type":"influxdb in","z":"55039619.2aaad","influxdb":"4ad3ce8d.582c5","name":"query","query":"","rawOutput":false,"precision":"","retentionPolicy":"","x":850,"y":160,"wires":[["b13e802d.5c1de"]]},{"id":"bcf998a9.0ab738","type":"debug","z":"55039619.2aaad","name":"count","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":610,"y":120,"wires":[]},{"id":"1a72e936.57e0e7","type":"link in","z":"55039619.2aaad","name":"input_raw_data","links":["522fa265.f753c4","83e70e7.17034f"],"x":55,"y":160,"wires":[["dc074c4e.59b6c8"]]},{"id":"fa6a11b0.3b5c9","type":"influxdb in","z":"55039619.2aaad","influxdb":"4ad3ce8d.582c5","name":"query","query":"","rawOutput":false,"precision":"","retentionPolicy":"","x":450,"y":160,"wires":[["bcf998a9.0ab738","da808f75.e768b"]]},{"id":"3c83bf6b.72bd8","type":"function","z":"55039619.2aaad","name":"COUNT","func":"msgQueryCount = {}\nmsgQueryCount.measurement = msg.measurement\nmsgQueryCount.query = 'SELECT COUNT(\"value\") FROM ' + msg.measurement\n\nreturn msgQueryCount;","outputs":1,"noerr":0,"x":300,"y":160,"wires":[["fa6a11b0.3b5c9"]]},{"id":"da808f75.e768b","type":"function","z":"55039619.2aaad","name":"GET_LAST_ENTRIES","func":"msgQueryGet = {}\nmsgQueryGet.measurement = msg.measurement\nif (msg.payload[0].count >= 50) {\n    msgQueryGet.query = 'SELECT * FROM ' + msg.measurement + ' ORDER BY time DESC limit 50'\n\n    return msgQueryGet;\n}\n\nelse {return }\n\n\n","outputs":1,"noerr":0,"x":660,"y":160,"wires":[["a5fa96f5.6d94b8"]]},{"id":"d8504d3a.8aa5a8","type":"comment","z":"55039619.2aaad","name":"### check if measurement has enough entries and get last 5 values if true","info":"","x":320,"y":20,"wires":[]},{"id":"34aa5b04.966d54","type":"mqtt out","z":"55039619.2aaad","name":"StandardKpis","topic":"StandardKpis","qos":"","retain":"","broker":"b6ec4c8d.61eac","x":1220,"y":160,"wires":[]},{"id":"b13e802d.5c1de","type":"json","z":"55039619.2aaad","name":"","property":"payload","action":"obj","pretty":false,"x":990,"y":160,"wires":[["fb65b48d.830c4","34aa5b04.966d54"]]},{"id":"fb65b48d.830c4","type":"debug","z":"55039619.2aaad","name":"response_get","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":1220,"y":220,"wires":[]},{"id":"8ae378b2.76415","type":"comment","z":"55039619.2aaad","name":"PowerDrive1 and PowerDrive2 last 50 entries","info":"","x":210,"y":80,"wires":[]},{"id":"8a1c231b.8e7278","type":"influxdb in","z":"55039619.2aaad","influxdb":"4ad3ce8d.582c5","name":"query","query":"","rawOutput":false,"precision":"","retentionPolicy":"","x":810,"y":400,"wires":[["f699b572.7d7ad8"]]},{"id":"b9669d99.c9ad28","type":"debug","z":"55039619.2aaad","name":"mqtt output","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":1340,"y":460,"wires":[]},{"id":"446942b1.5672fc","type":"influxdb in","z":"55039619.2aaad","influxdb":"4ad3ce8d.582c5","name":"query","query":"SELECT COUNT(\"value\") FROM voltagedrive1","rawOutput":false,"precision":"","retentionPolicy":"","x":370,"y":400,"wires":[["b82ff50d.701498"]]},{"id":"b82ff50d.701498","type":"function","z":"55039619.2aaad","name":"GET_LAST_ENTRIES","func":"// gets the value of n, if not yet set takes default value 50\nvar n = context.get('sample_n')|| 50;\n\nif (msg.topic == 'samples_number_n'){\n    n = msg.payload\n    context.set('sample_n', n);\n    return\n}\n\nelse {\n    \n    msgQueryGet = {}\n    //msgQueryGet.measurement = msg.measurement\n    msgQueryGet.measurement = 'voltagedrive1'\n    if (msg.payload[0].count >= n) {\n        msgQueryGet.SampleNumber = n\n        msgQueryGet.query = 'SELECT \"value\" FROM voltagedrive1 ORDER BY time DESC limit ' + n\n        //msgQueryGet.query = 'SELECT \"value\" FROM ' + msg.measurement + ' limit ' + n\n        return msgQueryGet;\n    }\n}","outputs":1,"noerr":0,"x":600,"y":400,"wires":[["8a1c231b.8e7278"]]},{"id":"2af0ef6e.b701d","type":"mqtt out","z":"55039619.2aaad","name":"SlidingMean","topic":"SlidingMean","qos":"","retain":"","broker":"b6ec4c8d.61eac","x":1340,"y":500,"wires":[]},{"id":"ebd49aed.9dc758","type":"comment","z":"55039619.2aaad","name":"VoltageDrive1 dynamic sample of entries","info":"","x":490,"y":360,"wires":[]},{"id":"69552c83.6483ac","type":"inject","z":"55039619.2aaad","name":"n-samples","topic":"samples_number_n","payload":"20","payloadType":"num","repeat":"","crontab":"","once":true,"onceDelay":0.1,"x":390,"y":500,"wires":[["b82ff50d.701498","65cac092.4d2b1"]]},{"id":"f57920c3.864528","type":"influxdb in","z":"55039619.2aaad","influxdb":"4ad3ce8d.582c5","name":"query","query":"","rawOutput":false,"precision":"","retentionPolicy":"","x":810,"y":600,"wires":[["f699b572.7d7ad8"]]},{"id":"bfd33c49.577fa","type":"influxdb in","z":"55039619.2aaad","influxdb":"4ad3ce8d.582c5","name":"query","query":"SELECT COUNT(\"value\") FROM currentdrive1","rawOutput":false,"precision":"","retentionPolicy":"","x":370,"y":600,"wires":[["65cac092.4d2b1"]]},{"id":"65cac092.4d2b1","type":"function","z":"55039619.2aaad","name":"GET_LAST_ENTRIES","func":"// gets the value of n, if not yet set takes default value 50\nvar n = context.get('sample_n')|| 50;\n\nif (msg.topic == 'samples_number_n'){\n    n = msg.payload\n    context.set('sample_n', n);\n    return\n}\n\nelse {\n    \n    msgQueryGet = {}\n    //msgQueryGet.measurement = msg.measurement\n    msgQueryGet.measurement = 'currentdrive1'\n    if (msg.payload[0].count >= n) {\n        msgQueryGet.SampleNumber = n\n        msgQueryGet.query = 'SELECT \"value\" FROM currentdrive1 ORDER BY time DESC limit ' + n\n        //msgQueryGet.query = 'SELECT \"value\" FROM ' + msg.measurement + ' limit ' + n\n        return msgQueryGet;\n    }\n}\n\n\n","outputs":1,"noerr":0,"x":600,"y":600,"wires":[["f57920c3.864528"]]},{"id":"8f3d77b7.0e8cf","type":"comment","z":"55039619.2aaad","name":"CurrentDrive1  dynamic sample of entries","info":"","x":490,"y":640,"wires":[]},{"id":"dc074c4e.59b6c8","type":"switch","z":"55039619.2aaad","name":"filter","property":"measurement","propertyType":"msg","rules":[{"t":"eq","v":"powerdrive1","vt":"str"},{"t":"eq","v":"powerdrive2","vt":"str"},{"t":"eq","v":"voltagedrive1","vt":"str"},{"t":"eq","v":"currentdrive1","vt":"str"}],"checkall":"true","repair":false,"outputs":4,"x":150,"y":160,"wires":[["3c83bf6b.72bd8"],["3c83bf6b.72bd8"],["446942b1.5672fc"],["bfd33c49.577fa"]]},{"id":"f699b572.7d7ad8","type":"function","z":"55039619.2aaad","name":"manual_join","func":"var tempo_cd1_batch = context.get('cd1_batch')||[];\nvar tempo_vd1_batch = context.get('vd1_batch')||[];\n\nfunction build_analytics_object(){\n    data_obj = {\n        sample_number : msg.SampleNumber,\n        current_drive1_batch : tempo_cd1_batch,\n        voltage_drive1_batch : tempo_vd1_batch,\n    }\n    return data_obj\n}\n\n\nif (msg.measurement == 'currentdrive1'){\n    tempo_cd1_batch = msg.payload\n    context.set('cd1_batch',tempo_cd1_batch)\n    \n}\nelse if (msg.measurement == 'voltagedrive1') {\n    tempo_vd1_batch = msg.payload\n    context.set('vd1_batch',tempo_vd1_batch)\n}\n\nif (tempo_cd1_batch.length > 0 && tempo_vd1_batch.length >0 ) {\n    py_obj={}\n    py_obj.payload = build_analytics_object()\n    tempo_cd1_batch = []\n    tempo_vd1_batch = []\n    context.set('cd1_batch', tempo_cd1_batch)\n    context.set('vd1_batch', tempo_vd1_batch)\n    \n    return py_obj\n    \n}\n\nelse{\n    return\n}","outputs":1,"noerr":0,"x":1100,"y":500,"wires":[["b9669d99.c9ad28","2af0ef6e.b701d"]]},{"id":"4708333c.116afc","type":"mqtt in","z":"55039619.2aaad","name":"","topic":"StandardKpiResult","qos":"2","datatype":"auto","broker":"b6ec4c8d.61eac","x":130,"y":820,"wires":[["4774587b.7048c8"]]},{"id":"f303046f.0e89a","type":"debug","z":"55039619.2aaad","name":"response standard kpis","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":1230,"y":780,"wires":[]},{"id":"4774587b.7048c8","type":"json","z":"55039619.2aaad","name":"","property":"payload","action":"","pretty":false,"x":510,"y":820,"wires":[["2ea61fdd.cd5ce"]]},{"id":"2ea61fdd.cd5ce","type":"function","z":"55039619.2aaad","name":"store data","func":"my_payload = {};\nmy_payload = msg.payload;\noutput_standardkpis = {}\noutput_standardkpis.measurement = my_payload.name.toUpperCase() + '_STANDARD_KPIS'\noutput_standardkpis.payload = {\n    mean: Math.round(my_payload.mean_result * 1e2)/ 1e2,\n    median: Math.round(my_payload.median_result * 1e2)/ 1e2,\n    stddev: Math.round(my_payload.stddev_result * 1e2)/ 1e2,\n    name: my_payload.name,\n}\n\nreturn output_standardkpis;","outputs":1,"noerr":0,"x":870,"y":820,"wires":[["2447a917.6fef7e","f303046f.0e89a"]]},{"id":"2447a917.6fef7e","type":"influxdb out","z":"55039619.2aaad","influxdb":"4ad3ce8d.582c5","name":"write_influxdb","measurement":"","precision":"","retentionPolicy":"","x":1200,"y":820,"wires":[]},{"id":"6bfb79f.ae5a888","type":"mqtt in","z":"55039619.2aaad","name":"","topic":"SlidingMeanResult","qos":"2","datatype":"auto","broker":"b6ec4c8d.61eac","x":130,"y":960,"wires":[["dd77256b.95c838"]]},{"id":"375965d1.d734b2","type":"debug","z":"55039619.2aaad","name":"response sliding mean","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":1230,"y":920,"wires":[]},{"id":"dd77256b.95c838","type":"json","z":"55039619.2aaad","name":"","property":"payload","action":"","pretty":false,"x":510,"y":960,"wires":[["ffd1008b.6d9558"]]},{"id":"ffd1008b.6d9558","type":"function","z":"55039619.2aaad","name":"store data","func":"my_payload = {};\nmy_payload = msg.payload;\noutput_pd1_slidingmean = {}\noutput_pd1_slidingmean.measurement = my_payload.name.toUpperCase()\noutput_pd1_slidingmean.payload = {\n    value: Math.round(my_payload.sliding_mean_result * 1e2)/ 1e2,\n    name: my_payload.name,\n}\n\nreturn output_pd1_slidingmean;","outputs":1,"noerr":0,"x":870,"y":960,"wires":[["6f4cd141.38972","375965d1.d734b2"]]},{"id":"6f4cd141.38972","type":"influxdb out","z":"55039619.2aaad","influxdb":"4ad3ce8d.582c5","name":"write_influxdb","measurement":"","precision":"","retentionPolicy":"","x":1200,"y":960,"wires":[]},{"id":"8209846d.480df","type":"function","z":"ff7becea.8a11","name":"store data","func":"\nmsgoutput={}\nmsgoutput.measurement = msg.topic.split(';')[1].slice(2);\nmsgoutput.payload = {\n    serverTimestamp: msg.serverTimestamp.toISOString(),\n    value: Math.round(msg.payload * 1e2)/ 1e2,\n    name: msgoutput.measurement,\n}\n\nreturn msgoutput;","outputs":1,"noerr":0,"x":640,"y":240,"wires":[["90f114f2.418318","340d6bab.5db38c","83e70e7.17034f"]]},{"id":"340d6bab.5db38c","type":"influxdb out","z":"ff7becea.8a11","influxdb":"4ad3ce8d.582c5","name":"write_influxdb","measurement":"","precision":"","retentionPolicy":"","x":860,"y":240,"wires":[]},{"id":"f1bbb24e.8c4bf","type":"inject","z":"ff7becea.8a11","name":"voltagedrive1","topic":"ns=1;s=voltagedrive1;datatype=Double","payload":"1000","payloadType":"num","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":100,"y":180,"wires":[["48ee52e1.325944"]]},{"id":"99036080.df60c","type":"debug","z":"ff7becea.8a11","name":"opc output","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":630,"y":200,"wires":[]},{"id":"90f114f2.418318","type":"debug","z":"ff7becea.8a11","name":"output to influx","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":870,"y":200,"wires":[]},{"id":"b7487802.53cad8","type":"inject","z":"ff7becea.8a11","name":"currentdrive1","topic":"ns=1;s=currentdrive1;datatype=Float","payload":"1000","payloadType":"num","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":100,"y":220,"wires":[["48ee52e1.325944"]]},{"id":"bef48efb.751938","type":"inject","z":"ff7becea.8a11","name":"powerdrive2","topic":"ns=1;s=powerdrive2;datatype=Float","payload":"2000","payloadType":"num","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":110,"y":260,"wires":[["48ee52e1.325944"]]},{"id":"83e70e7.17034f","type":"link out","z":"ff7becea.8a11","name":"new_raw_data","links":["1a72e936.57e0e7"],"x":795,"y":280,"wires":[]},{"id":"ba60cc4d.213388","type":"inject","z":"ff7becea.8a11","name":"powerdrive1","topic":"ns=1;s=powerdrive1;datatype=Float","payload":"2000","payloadType":"num","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":110,"y":300,"wires":[["48ee52e1.325944"]]},{"id":"f8adce24.39c748","type":"comment","z":"ff7becea.8a11","name":"### Collection from OPC UA and storage in influxdb ###","info":"","x":240,"y":80,"wires":[]},{"id":"8173c62e.e3d6f","type":"inject","z":"ff7becea.8a11","name":"powerdrive2-Temp","topic":"ns=1;s=temperatur2;datatype=Float","payload":"1000","payloadType":"num","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":90,"y":340,"wires":[["48ee52e1.325944"]]},{"id":"8558cabe.ed06e","type":"comment","z":"55039619.2aaad","name":"Data Analytics Results","info":"","x":540,"y":740,"wires":[]},{"id":"84449691.e41df","type":"comment","z":"ea44f983.4adc8","name":"API-Matrix for Data Export","info":"Example\n// timerange    meas    name    zip (Single measurement)\n// 1            1       0       0\ncurl --header \"Content-Type:application/json\" --request GET --data '{\"timestamp\":\"2020-05-04T10:34:51.409Z\", \"timerange\": {\"start\":\"2020-05-03T10:34:51.409Z\",\"end\":\"\"},\"variables\":[{\"measurement\":\"POWERDRIVE1_SLIDINGMEAN\"}], \"path\":\"/data/csv/\", \"zip\":\"false\"}' http://localhost:1880/api/export/now\n\n// timerange    meas    name    zip (Multi measurement)\n// 1            1       0       0\ncurl --header \"Content-Type:application/json\" --request GET --data '{\"timestamp\":\"2020-05-04T10:34:51.409Z\", \"timerange\": {\"start\":\"2020-05-03T10:34:51.409Z\",\"end\":\"\"},\"variables\":[{\"measurement\":\"POWERDRIVE1_SLIDINGMEAN\"},{\"measurement\":\"POWERDRIVE2_STANDARD_KPIS\"}], \"path\":\"/data/csv/\", \"zip\":\"false\"}' http://localhost:1880/api/export/now\n\n// timerange    meas    name    zip (Single measurement)\n// 1            1       1       0\ncurl --header \"Content-Type:application/json\" --request GET --data '{\"timestamp\":\"2020-05-04T10:34:51.409Z\", \"timerange\": {\"start\":\"2020-05-03T10:34:51.409Z\",\"end\":\"\"},\"variables\":[{\"measurement\":\"POWERDRIVE1_SLIDINGMEAN\",\"name\":\"powerdrive1_slidingmean\"}], \"path\":\"/data/csv/\", \"zip\":\"false\"}' http://localhost:1880/api/export/now\n\n// timerange    meas    name    zip (Multi measurement)\n// 1            1       1       0\ncurl --header \"Content-Type:application/json\" --request GET --data '{\"timestamp\":\"2020-05-04T10:34:51.409Z\", \"timerange\": {\"start\":\"2020-05-03T10:34:51.409Z\",\"end\":\"\"},\"variables\":[{\"measurement\":\"POWERDRIVE1_SLIDINGMEAN\",\"name\":\"powerdrive1_slidingmean\"},{\"measurement\":\"POWERDRIVE2_STANDARD_KPIS\",\"name\":\"powerdrive2\"}], \"path\":\"/data/csv/\", \"zip\":\"false\"}' http://localhost:1880/api/export/now\n\n// timerange    meas    name    zip (Single measurement)\n// 1            1       1       1\ncurl --header \"Content-Type:application/json\" --request GET --data '{\"timestamp\":\"2020-05-04T10:34:51.409Z\", \"timerange\": {\"start\":\"2020-05-03T10:34:51.409Z\",\"end\":\"\"},\"variables\":[{\"measurement\":\"POWERDRIVE1_SLIDINGMEAN\",\"name\":\"powerdrive1_slidingmean\"}], \"path\":\"/data/csv/\", \"zip\":\"true\"}' http://localhost:1880/api/export/now\n\n","x":130,"y":120,"wires":[]},{"id":"48ee52e1.325944","type":"OpcUa-Client","z":"ff7becea.8a11","endpoint":"bfe4e815.b544a","action":"subscribe","deadbandtype":"a","deadbandvalue":1,"time":"1","timeUnit":"s","certificate":"n","localfile":"","name":"","x":402,"y":239,"wires":[["99036080.df60c","8209846d.480df"]]}]